extends layout 
block content
    main.container
        .titulo
            h2 Editar producto
        .cuerpo
            div.section.editForm
                form#editForm(action=`/edit/${producto.id}` , method="POST")
                    div.edit-producto 
                        label(for="sucursal") Sucursal
                        select(name="sucursal")
                            - for (let i = 1; i <= sucursales.length; i++)
                                option(value=i)= i
                        label(for="nombreProducto") Nombre
                        input(type="text" name="nombreProducto" value=`${producto.nombre}` required)
                        label(for="precio") Precio por U/Kg
                        input(type="number" step="0.01"  name="precio" value=`${producto.precio}` required)
                        label(for="cantidad") Cantidad
                        input(type="number" name="cantidad" value=`${producto.cantidad}` required)
                        div.radioInput
                            if producto.tipo_unidad === 'u'
                                div
                                    label(for="unidad") U
                                    input(type="radio", name="unidad", value="U", checked)
                                    label(for="unidad") Kg
                                    input(type="radio", name="unidad", value="Kg")
                            else
                                div
                                    label(for="unidad") U
                                    input(type="radio", name="unidad", value="U")
                                    label(for="unidad") Kg
                                    input(type="radio", name="unidad", value="Kg", checked)
                        label(for="desc") Marca
                        input(type="text" name="marca" value=`${producto.marca}` required)
                        label(for="desc") Descripcion
                        input(type="text-area" name="desc" value=`${producto.descripcion}`)
                        br
                        button#btn-editProducto(type="submit") Actualizar