extends layout
block content
    main.container
        div#orderModal(class=`${orderModalActive}`)
        div.productosReponer
            if productosParaReponer.length !== 0
                - for (let product of productosParaReponer)
                    div#resumen
                        a#enlace(href=`/order/${productosParaReponer.id}`)
                        p texto
                        p más texto
            else
                h3 No hay productos con bajo stock
        div.lista
            .header-producto
                .datosProducto
                    div                    
                        p Nombre
                    div
                        p Precio
                    div
                        p Cantidad
                    div
                        p Sucursal
                div.opcionesProductos
                    p Opciones
            each producto in productos
                .producto
                    .datosProducto
                        div
                            p= producto.nombre
                        div
                            p= producto.precio
                        div
                            p= `${producto.cantidad} ${producto.tipo_unidad}`
                        div
                            p= producto.sucursal_id
                    div.opcionesProductos
                        a(href=`/order/${producto.id}`) Pedir
                        a(href=`/edit/${producto.id}`) Editar
                        a(href=`/delete/${producto.id}`) Eliminar
        div.tableProduct
            div.headerTable
                h2=title
                form(action="/newProduct" method="GET")
                    button.btn-agregar(type="submit") Nuevo Producto
            table
                thead
                    tr
                        th Producto
                        th Precio
                        th Stock
                        th Sucursal
                        th Opciones
                tbody
                - for (let producto of productos)
                    tr
                        td= producto.nombre
                        td= producto.precio
                        td= `${producto.cantidad} ${producto.tipo_unidad}`
                        td= producto.sucursal_id
                        td
                            a.link-order(href=`/order/${producto.id}`) Pedir
                            a.link-edit(href=`/edit/${producto.id}`) Editar
                            a.link-delete(href=`/delete/${producto.id}`) Eliminar