extends layout
block content
    main.container
        div#orderModal(class=`${orderModalActive}`)
        div.tableProduct
            div.headerTable
                h2=title
                form(action="/newProduct" method="GET")
                    button.btn-agregar(type="submit") Nuevo Producto
            table
                thead
                    tr
                        th Producto
                        th Precio
                        th Stock
                        th Sucursal
                        th Opciones
                tbody
                - for (let producto of productos)
                    tr
                        td= producto.nombre
                        td= producto.precio
                        td= `${producto.cantidad} ${producto.tipo_unidad}`
                        td= producto.sucursal_id
                        td
                            a.link-order(href=`/order/${producto.id}`) Pedir
                            a.link-edit(href=`/edit/${producto.id}`) Editar
                            a.link-delete(href=`/delete/${producto.id}`) Eliminar