extends layout
block content
    main.container
        div.tableProduct
            div.headerTable
                h2=title
                form(action="/newProduct" method="GET")
                    button.btn-agregar(type="submit") Nuevo Producto
                label(for="sucursal-filtro") Sucursal:
                select(name="sucursal-filtro")
                    option(value="") Todos
                    - for (let i = 1; i <= sucursales.length; i++)
                        option(value=i)= i
            table
                thead
                    tr
                        th Producto
                        th Precio
                        th Cantidad
                        th Sucursal
                        th Opciones
                tbody
                - for (let producto of productos)
                    tr
                        td= producto.nombre
                        td= producto.precio
                        td= `${producto.cantidad} ${producto.tipo_unidad}`
                        td= producto.sucursal_id
                        td
                            a(href=`/order/${producto.id}`) Pedir
                            a(href=`/edit/${producto.id}`) Editar
                            a(href=`/delete/${producto.id}`) Eliminar